*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 1000px;
    min-height: 250px;
    padding: 15px ;
   text-align: center;

}

#container-task{
    display: flex ;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;

}

.columns {

    background-color: #e3e4e8; 
    width: 300px;
    height: 400px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0,0 , 0.1    );

}

ul li {
    list-style: none;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    cursor: grab;   
    box-shadow: 0 2px 4px rgba(0, 0,0 , 0.2 );
    transition: transform 0.2s , box-shadow 0.2s;
}

li:active {
    cursor: grabbing;
     background-color: #dceeff;
    transform: scale(1.03);
}

.dragging{

    opacity: 0.5;
}

.columns.over {
    background-color: #d1d3d8;  
}

@media (max-width: 768px){
  #container-task{
    flex-direction: column;
    align-items: center;
  }

  .columns{
    width: 80%;
    margin-bottom: 20px;
  }
}